:root {
  --body-margin--dk: 3rem 2rem;
  --body-margin--mb: 2rem 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--body-margin--mb);
  width: 100%;
}

#header__homepage {
  font-size: 4rem;
  font-weight: bold;
  line-height: normal;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  font-size: 3.2rem;
}

.navbar li a {
  color: #000000;
}

.circle__container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  border: 5px solid #000000;
  background-color: #000000;
  width: 20rem;
  height: 20rem;
  border-radius: 100rem;
  margin: 0.5em;
}

.circle:hover {
  background-color: #ffffff;
}

.circle__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 4.25rem;
  text-decoration: none;
  line-height: normal;
}

.circle__link:hover {
  color: #000000;
}

.about__container {
  margin: var(--body-margin--mb);
}

.about__header p {
  font-size: 2.25rem;
}

.about__resume__list p {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.about__resume__list ul {
  margin-bottom: 1.5rem;
}

.about__resume__list li {
  list-style: none;
  font-size: 2.25rem;
}

.about__resume__list a {
  color: #000000;
  text-decoration: none;
}

.image__container__hero {
  background-color: #1b80bf;
  height: 27rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image__container__hero img {
  padding: 1rem;
}

#hero_desktop {
  display: none;
}

#hero_desktop2 {
  display: none;
}

.image__container__hero__green {
  background-color: #62982c;
  height: 27rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section__description {
  margin: var(--body-margin--mb);
}

.section__description__header p {
  display: flex;
  flex-direction: column;
  font-size: 2.25rem;
  font-weight: bold;
}

.section__description__text {
  margin-top: 2rem;
}

.section__description__text p {
  font-size: 2rem;
  margin-top: 1rem;
}

.section__description__subheader {
  margin-top: 2.5rem;
}

.section__image {
  margin-bottom: 5rem;
}

.section__image__header p {
  display: flex;
  flex-direction: column;
  font-size: 2.25rem;
  font-weight: bold;
  margin: var(--body-margin--mb);
  margin-bottom: 3rem;
}

.section__theme p {
  display: flex;
  flex-direction: column;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.theme__image__container__mobile {
  margin-bottom: 3rem;
}

.section_desktop {
  display: none;
}

.section_mobile {
  display: block;
  width: 100%;
}

#image__container__mobile__opale {
  background-color: #1b80bf;
  width: 100%;
  padding: 2rem;
}

#image__container__mobile__xp {
  background-color: #62982c;
  width: 100%;
  padding: 2rem;
}

#theme__image__container__green {
  background-color: #62982c;
}

.section__theme {
  margin: var(--body-margin--mb);
  margin-bottom: 5rem;
}

.block4 {
  margin-bottom: 2.5rem;
}

.block5,
.block6 {
  background-color: #1b80bf;
}

.block6,
.block11 {
  padding: 2rem;
}

.block11 {
  background-color: #62982c;
  width: 100%;
}

.section__theme__green {
  margin-bottom: 5rem;
}

.footer {
  margin: var(--body-margin--mb);
}

.footer li {
  list-style: none;
}

.footer__navbar {
  display: flex;
  justify-content: flex-end;
}

.footer__navbar button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #000000;
  font-size: 3rem;
  text-decoration: underline;
}

@media only screen and (min-width: 56.25em) {
  .circle__container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10rem;
  }
  .circle {
    width: 25rem;
    height: 25rem;
  }
  .header__container {
    margin: var(--body-margin--dk);
  }
  #header__homepage {
    font-size: 6.2rem;
    width: 50%;
  }
  .header {
    margin-bottom: 10rem;
  }
  .section__image__header p {
    margin: 0;
    margin-bottom: 2rem;
  }
  .about__container {
    margin: var(--body-margin--dk);
  }
  .about__header p {
    font-size: 3.2rem;
  }
  .about__resume {
    display: flex;
    flex-direction: row;
  }
  .about__resume__list {
    width: 100%;
  }
  .about__resume__list p {
    font-size: 2.8rem;
  }
  .about__resume__list li {
    font-size: 2.8rem;
  }
  .image__container__hero,
  .image__container__hero__green {
    height: 47.5rem;
  }
  #hero_mobile {
    display: none;
  }
  #hero_mobile2 {
    display: none;
  }
  .hero_desktop_container {
    padding-top: 0.25rem;
  }
  #hero_desktop {
    display: block;
  }
  #hero_desktop2 {
    display: block;
  }
  .section__description {
    margin: 0;
    margin-top: 27rem;
    margin-bottom: 5rem;
  }
  .section__description__container {
    margin: var(--body-margin--dk);
    display: flex;
    flex-direction: row;
    align-items: initial;
    line-height: normal;
  }
  .section__description__header {
    width: 35%;
  }
  .section__description__text {
    width: 100%;
    padding-right: 3rem;
    margin: 0;
  }
  .section__description__text p {
    font-size: 2.67rem;
    margin-top: 0;
  }
  .section__description__text p:nth-child(1) {
    margin-bottom: 2rem;
  }
  .section__image {
    margin: var(--body-margin--dk);
  }
  .image__container__desktop {
    width: 100%;
    margin-bottom: 5rem;
  }
  .section_mobile,
  .image__container__mobile {
    display: none;
  }
  .section_desktop {
    display: block;
    width: 100%;
  }
  .section__theme {
    display: flex;
    justify-content: space-between;
    margin: var(--body-margin--dk);
    margin-bottom: 5rem;
  }

  .block4,
  .block5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block4 {
    margin-bottom: 0;
  }

  .block7,
  .block8 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .block7 img,
  .block8 img {
    width: 100%;
  }

  .block9,
  .block10 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .section__theme__green__image {
    margin-bottom: 5rem;
  }
  .section__theme__green__image {
    display: flex;
    justify-content: center;
  }
  .footer {
    margin: var(--body-margin--dk);
  }
}

@media only screen and (max-width: 75em) {
  .section__description {
    margin-top: 35rem;
  }
}
