* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

:root {
  --body-margin: 3rem 2rem;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.header__container {
  display: flex;
  flex-direction: row;
  margin: var(--body-margin);
}

#header__homepage {
  font-size: 4rem;
  font-weight: 300;
  line-height: normal;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  font-size: 3.2rem;
}

.navbar li a {
  color: #000000;
}

.circle__container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  border: 5px solid #000000;
  background-color: #000000;
  width: 20rem;
  height: 20rem;
  border-radius: 100rem;
  margin: 0.5em;
}

.circle:hover {
  background-color: #ffffff;
}

.circle__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 4.5rem;
  text-decoration: none;
  line-height: normal;
}

.circle__link:hover {
  color: #000000;
}

.about__header p {
  font-size: 2.25rem;
}

.about__resume__list p {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.about__resume__list ul {
  margin-bottom: 1.5rem;
}

.about__resume__list li {
  list-style: none;
  font-size: 2.25rem;
}

.about__resume__list a {
  color: #000000;
  text-decoration: none;
}

.image__container__hero {
  background-color: #1b80bf;
  height: 27rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image__container__hero img {
  padding: 1rem;
}

#hero_desktop {
  display: none;
}

@media only screen and (min-width: 56.25em) {
  .circle__container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10rem;
  }
  .circle {
    width: 25rem;
    height: 25rem;
  }
  #header__homepage {
    font-size: 6.2rem;
    width: 50%;
  }
  .header {
    margin-bottom: 10rem;
  }
  .about__header p {
    font-size: 3.2rem;
  }
  .about__resume {
    display: flex;
    flex-direction: row;
  }
  .about__resume__list {
    width: 100%;
  }
  .about__resume__list p {
    font-size: 2.8rem;
  }
  .about__resume__list li {
    font-size: 2.8rem;
  }
  .image__container__hero {
    height: 47.5rem;
  }
  #hero_mobile {
    display: none;
  }
  .hero_desktop_container {
    padding-top: 0.25rem;
  }
  #hero_desktop {
    display: block;
  }
}
